<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
	Exercise 3.5 part 1.  This tutorial rocks!
	<br>You can find me on github - Vicki Wilson
  	<br>Contact Ruby on Rails Tutorial about the sample app at the
  	<a href="http://railstutorial.org/contact">contact page</a>.
</p>
